* {
  box-sizing: border-box;
}

nav {
  text-align: center;
  background-color: gray;
  height: 50px;
  margin-bottom: 50px;
  border-radius: 6px;
  padding: 10px 0px 10px 0px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  position: relative;
  bottom: 23px;
  min-width: 22%;
}

h1 {
  font-size: 60px;
  position: relative;
  top: 50px;
}
a {
  font-size: 35px;
  margin: 0px 10px 0px 10px;
}

img {
  max-height: 30%;
  max-width: 50%;
  border-radius: 10px;
}

.container {
  display: flex;
  margin-top: ;
}

p {
  margin-top: 10px;
  text-align: right;
  font-size: 17px;
  width: 50%;
  line-height: 4em;
}

/* the below code is probably best for desktop view */
/* p {
    margin-top: 10px;
    text-align: right;
    width: 50%;
    border:2px solid black;
    position: relative;
    left: 50%;
    line-height: 3em;
    border: 3px solid #73AD21;
} */

.education {
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 50px;
}
.certification-box {
  text-align: center;
  display: flex;
  flex-direction: row;
  /* border: 1px black solid; */
}
.certification-box img {
  box-shadow: none;
  border-radius: 10px;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
.certification-box img:hover {
  transform: translate(0px, -30px);
  z-index: 0;
}
.certification-box:nth-child(2):hover {
  transform: translate(0px, 30px);
  z-index: 0;
}
.languages {
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
}
.langs-box {
  text-align: center;
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
}
.langs-box img {
  box-shadow: none;
  border-radius: 10px;
  z-index: 0;
  min-width: 20%;
  max-width: 50%;
}
.langs-box img:hover {
  z-index: 0;
}

footer {
    text-align: center;
  background-color: gray;
  height: 50px;
  border-radius: 6px;
  padding: 10px 0px 10px 0px;
}